.body-foldImage {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/img/tumblr_girasoles_500.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: inherit;
}

.fold-link {
  padding: 2%;
  width: 5%;
}


/** Title Section **/
.titleSection {
  &-img {
    width: 5%;
    padding: 4% 2% 0 2%;
  }
  &-mainTitle {
    display: inline;
    color: #ffc0cb;
    padding-right: 1%;
  }
}

hr {
  display: inline-block;
  width: 50px;
  border: none;
  height: 1px;
  background: #ffc0cb;
}


/** Styles Ant Design **/
.ant-btn-primary {
  background-color: pink !important;
}