@import "../../variables.scss";

.body-foldImage {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/img/tumblr_girasoles_500.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: inherit;
}

.fold-link {
  padding: 2%;
  width: 5%;
}

.aboutMe {
  &-img {
    border-radius: 10%;
    width: 70%;
  }
}

.contact {
  &-container {
    width: 100%;
    height: 100px;
    background-color: $color-primary;
    margin-top: 10px;
  }
}

/** Styles Ant Design **/
.ant-btn-primary {
  background-color: $color-primary !important;
}