@import "./variables.scss";

.App {
  text-align: center;
  font-family: $font-primary;
}

* {
  font-family: $font-primary;
  font-size: 16px;
  /* color: #f6e2b3; */
  color: $color-texto;
}

a {
  color: #00000073 !important;
}

a:hover {
  color: $color-aux !important;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

.textmedium {
  font-size: $size-medium;
}


